<div class="footer">
  <div class="container-fluid credit">
    &copy; Balkamgar Nirmulan. All rights reserved.
  </div>
  <div class="container-fluid subfooter">
    <div class="col-lg-5 col-sm-6">
      <ul class="subfootererspan">
        MENU
        <li>
          <a class="subfooter" href="what_is_child_labour.html">What is Child Labour</a>
        </li>
        <li>
          <a class="subfooter" href="child_welfare_committee.html">Child Welfare Committee</a>
        </li>
        <li>
          <a class="subfooter" href="guide_for_employers.html">Guide for Employers</a>
        </li>
        <li>
          <a class="subfooter" href="be_valunteer.html">Be A Volunteer</a>
        </li>
        <li>
          <a class="subfooter" href="donate.html">Donate</a>
        </li>
        <li>
          <a class="subfooter" href="contact_us.html">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 col-sm-6">
      <ul class="subfootererspan">
        IMPORTANT LINKS
        <li>
          <a class="subfooter" href="">Ministry of Labour and Employment, Govt of India</a>
        </li>
        <li>
          <a class="subfooter" href="">International Labour Organization</a>
        </li>
        <li>
          <a class="subfooter" href="">Maharashtra Police</a>
        </li>
        <li>
          <a class="subfooter" href="">The Child Welfare Committee</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-5 col-sm-5"></div>
</div>