<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield %>
    <div>
      <p>
        <div style="font-family: robotoRegular;font-style: normal;
          font-weight: 400;font-size: 12px;color: #50575f;">
          
          <%=t('mail_info')%>
        </div>
        <div style="font-family: robotoRegular;font-style: normal;
          font-weight: 400;font-size: 12px;color: #50575f;">
          <%=t('warning')%>
        </div>
      </p>
    </div>
  </body>
</html>